<%= image_tag 'tiy-logo.png' %>

<h1>Welcome to The Iron Yard powered by Smashing Boxes.</h1>
<h2>Learn to code. Get a job. Guaranteed.</h2>
<p>
  <strong>The Iron Yard Academy</strong> teaches intensive, three-months courses       that mentor you into de professional junior level programmer. Our program goes beyond tactical skills and teaches you to think like a <em>software engineer.</em> Programming is a lifelong study, and our process shows you to learn how to <em>learn so you remain valuable for your career</em>.
</p>

<h2>Locations</h2>
<ul>
  <% location.each do |place, web| %>
  <li><%= link_to place, web %></li>
  <% end %>
</ul>

<%= link_to 'Follow us on twitter', 'https://twitter.com/TheIronYard' %>
